@import "bootstrap/scss/functions";

@import "./variables";

@import 'bootstrap/scss/bootstrap';

img {
    object-fit: cover;
}
.article-image {
    object-fit: cover;
    height: 100%;
  }
  
  @media screen and (min-width: 450px) {
    .article-image {
      object-fit: cover;
      height: 400px;
    }
  }